<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Currency</title>  
        <link rel="stylesheet"  th:href="@{/css/styles.css}">
        <script th:src="@{/js/script.js}"></script>
    </head>
    <body>
        <div class="container">
            <label class="title">Currency converter</label>
            <label th:text="${'Updated: ' + currency.date + ' 00:01 am'}"></label>
            <div class="from">
                <input type="number" id="base" onfocus="this.value=''" value="0" min="0" oninput="firstToSecond()"/>
                <select id="sbase" onchange="firstToSecond()">           
                    <option th:each="key : ${currency.rates.keySet()}"
                            th:value="${currency.rates.get(key)}"
                            th:utext="${key}"/>
                </select>
            </div>
            <div class="to">
                <input type="number" id="rate" onfocus="this.value=''" value="0" min="0" oninput="secondToFirst()"/>
                <select id="srate" onchange="secondToFirst()">           
                    <option th:each="key : ${currency.rates.keySet()}"
                            th:value="${currency.rates.get(key)}"
                            th:utext="${key}"/>
                </select>
            </div>
        </div>
    </body>
</html>